<div class="banner-job">
	<div class="banner-overlay"></div>
	<div class="container text-center">
		<h1 class="title">Easiest Step Towards Your New Job</h1>
		<h3>We offer different jobs vacancy</h3>
		<div class="banner-form">
			<form action="#">
				<input type="text" class="form-control" placeholder="Type your key word">
				<div class="dropdown category-dropdown">						
					<a data-toggle="dropdown" href="#"><span class="change-text">Job Location</span> <i class="fa fa-angle-down"></i></a>
					<ul class="dropdown-menu category-change">
						<li><a href="#">Kathmandu</a></li>
						<li><a href="#">Lalitpur</a></li>
						<li><a href="#">Bhaktapur</a></li>
					</ul>								
				</div><!-- category-change -->
				<button type="submit" class="btn btn-primary" value="Search">Search</button>
			</form>
		</div><!-- banner-form -->
		
		<ul class="banner-socail list-inline">
			<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
			<li><a href="#" title="Youtube"><i class="fa fa-youtube"></i></a></li>
		</ul><!-- banner-socail -->
	</div><!-- container -->
</div><!-- banner-section -->


<div class="section latest-jobs-ads">
	<div class="section-title tab-manu">
		<h4>Latest Jobs</h4>
		 <!-- Nav tabs -->      
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation"><a href="#hot-jobs" data-toggle="tab">Hot Jobs</a></li>
			<li role="presentation"><a href="#recent-jobs" data-toggle="tab">Recent Jobs</a></li>
			<li role="presentation" class="active"><a href="#popular-jobs" data-toggle="tab">Popular Jobs</a></li>
		</ul>
	</div>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade in" id="hot-jobs">
			<div class="job-ad-item">
				<div class="item-info">
					<div class="item-image-box">
						<div class="item-image">
							<a href="job-details.html"><img src="assets/job/3.png" alt="Image" class="img-responsive"></a>
						</div><!-- item-image -->
					</div>

					<div class="ad-info">
						<span><a href="job-details.html" class=title>CTO</a> @ <a href="#">Volja Events & Entertainment</a></span>
						<div class="ad-meta">
							<ul>
								<li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
								<li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
								<li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
								<li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
							</ul>
						</div><!-- ad-meta -->									
					</div><!-- ad-info -->
					<div class="button">
						<a href="#" class="btn btn-primary">Apply Now</a>
					</div>
				</div><!-- item-info -->
			</div><!-- ad-item -->	

			<div class="job-ad-item">
				<div class="item-info">
					<div class="item-image-box">
						<div class="item-image">
							<a href="job-details.html"><img src="assets/job/1.png" alt="Image" class="img-responsive"></a>
						</div><!-- item-image -->
					</div>

					<div class="ad-info">
						<span><a href="job-details.html" class="title">Project Manager</a> @ <a href="#">Dominos Pizza</a></span>
						<div class="ad-meta">
							<ul>
								<li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
								<li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
								<li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
								<li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
							</ul>
						</div><!-- ad-meta -->									
					</div><!-- ad-info -->
					<div class="button">
						<a href="#" class="btn btn-primary">Apply Now</a>
					</div>
				</div><!-- item-info -->
			</div><!-- ad-item -->	
		
			<div class="job-ad-item">
				<div class="item-info">
					<div class="item-image-box">
						<div class="item-image">
							<a href="job-details.html"><img src="assets/job/2.png" alt="Image" class="img-responsive"></a>
						</div><!-- item-image -->
					</div>

					<div class="ad-info">
						<span><a href="job-details.html" class="title">Graphics Designer</a> @ <a href="#">AOK Security</a></span>
						<div class="ad-meta">
							<ul>
								<li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
								<li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
								<li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
								<li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
							</ul>
						</div><!-- ad-meta -->									
					</div><!-- ad-info -->
					<div class="button">
						<a href="#" class="btn btn-primary">Apply Now</a>
					</div>
				</div><!-- item-info -->
			</div><!-- ad-item -->	

			<div class="job-ad-item">
				<div class="item-info">
					<div class="item-image-box">
						<div class="item-image">
							<a href="job-details.html"><img src="assets/job/4.png" alt="Image" class="img-responsive"></a>
						</div><!-- item-image -->
					</div>

					<div class="ad-info">
						<span><a href="job-details.html" class="title">Human Resource Manager</a> @ <a href="#">Dropbox Inc</a></span>
						<div class="ad-meta">
							<ul>
								<li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
								<li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
								<li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
								<li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
							</ul>
						</div><!-- ad-meta -->									
					</div><!-- ad-info -->
					<div class="button">
						<a href="#" class="btn btn-primary">Apply Now</a>
					</div>
				</div><!-- item-info -->
			</div><!-- ad-item -->
		</div><!-- tab-pane -->

		<div role="tabpanel" class="tab-pane fade in" id="recent-jobs">
		
			<div class="job-ad-item">
				<div class="item-info">
					<div class="item-image-box">
						<div class="item-image">
							<a href="job-details.html"><img src="assets/job/2.png" alt="Image" class="img-responsive"></a>
						</div><!-- item-image -->
					</div>

					<div class="ad-info">
						<span><a href="job-details.html" class=title>Graphics Designer</a> @ <a href="#">AOK Security</a></span>
						<div class="ad-meta">
							<ul>
								<li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
								<li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
								<li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
								<li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
							</ul>
						</div><!-- ad-meta -->									
					</div><!-- ad-info -->
					<div class="button">
						<a href="#" class="btn btn-primary">Apply Now</a>
					</div>
				</div><!-- item-info -->
			</div><!-- ad-item -->	

			<div class="job-ad-item">
				<div class="item-info">
					<div class="item-image-box">
						<div class="item-image">
							<a href="job-details.html"><img src="assets/job/1.png" alt="Image" class="img-responsive"></a>
						</div><!-- item-image -->
					</div>

					<div class="ad-info">
						<span><a href="job-details.html" class=title>Project Manager</a> @ <a href="#">Dominos Pizza</a></span>
						<div class="ad-meta">
							<ul>
								<li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
								<li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
								<li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
								<li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
							</ul>
						</div><!-- ad-meta -->									
					</div><!-- ad-info -->
					<div class="button">
						<a href="#" class="btn btn-primary">Apply Now</a>
					</div>
				</div><!-- item-info -->
			</div><!-- ad-item -->	

			<div class="job-ad-item">
				<div class="item-info">
					<div class="item-image-box">
						<div class="item-image">
							<a href="job-details.html"><img src="assets/job/4.png" alt="Image" class="img-responsive"></a>
						</div><!-- item-image -->
					</div>

					<div class="ad-info">
						<span><a href="job-details.html" class="title">Human Resource Manager</a> @ <a href="#">Dropbox Inc</a></span>
						<div class="ad-meta">
							<ul>
								<li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
								<li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
								<li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
								<li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
							</ul>
						</div><!-- ad-meta -->									
					</div><!-- ad-info -->
					<div class="button">
						<a href="#" class="btn btn-primary">Apply Now</a>
					</div>
				</div><!-- item-info -->
			</div><!-- ad-item -->						
		
			<div class="job-ad-item">
				<div class="item-info">
					<div class="item-image-box">
						<div class="item-image">
							<a href="job-details.html"><img src="assets/job/3.png" alt="Image" class="img-responsive"></a>
						</div><!-- item-image -->
					</div>

					<div class="ad-info">
						<span><a href="job-details.html" class="title">CTO</a> @ <a href="#">Volja Events & Entertainment</a></span>
						<div class="ad-meta">
							<ul>
								<li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
								<li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
								<li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
								<li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
							</ul>
						</div><!-- ad-meta -->									
					</div><!-- ad-info -->
					<div class="button">
						<a href="#" class="btn btn-primary">Apply Now</a>
					</div>
				</div><!-- item-info -->
			</div><!-- ad-item -->	
		</div><!-- tab-pane -->

		<div role="tabpanel" class="tab-pane fade in active" id="popular-jobs">
			<div class="job-ad-item">
				<div class="item-info">
					<div class="item-image-box">
						<div class="item-image">
							<a href="job-details.html"><img src="assets/job/1.png" alt="Image" class="img-responsive"></a>
						</div><!-- item-image -->
					</div>

					<div class="ad-info">
						<span><a href="job-details.html" class="title">Project Manager</a> @ <a href="#">Dominos Pizza</a></span>
						<div class="ad-meta">
							<ul>
								<li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
								<li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
								<li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
								<li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
							</ul>
						</div><!-- ad-meta -->									
					</div><!-- ad-info -->
					<div class="button">
						<a href="#" class="btn btn-primary">Apply Now</a>
					</div>
				</div><!-- item-info -->
			</div><!-- ad-item -->	
		
			<div class="job-ad-item">
				<div class="item-info">
					<div class="item-image-box">
						<div class="item-image">
							<a href="job-details.html"><img src="assets/job/2.png" alt="Image" class="img-responsive"></a>
						</div><!-- item-image -->
					</div>

					<div class="ad-info">
						<span><a href="job-details.html" class="title">Graphics Designer</a> @ <a href="#">AOK Security</a></span>
						<div class="ad-meta">
							<ul>
								<li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
								<li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
								<li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
								<li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
							</ul>
						</div><!-- ad-meta -->									
					</div><!-- ad-info -->
					<div class="button">
						<a href="#" class="btn btn-primary">Apply Now</a>
					</div>
				</div><!-- item-info -->
			</div><!-- ad-item -->	
		
			<div class="job-ad-item">
				<div class="item-info">
					<div class="item-image-box">
						<div class="item-image">
							<a href="job-details.html"><img src="assets/job/3.png" alt="Image" class="img-responsive"></a>
						</div><!-- item-image -->
					</div>

					<div class="ad-info">
						<span><a href="job-details.html" class="title">CTO</a> @ <a href="#">Volja Events & Entertainment</a></span>
						<div class="ad-meta">
							<ul>
								<li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
								<li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
								<li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
								<li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
							</ul>
						</div><!-- ad-meta -->									
					</div><!-- ad-info -->
					<div class="button">
						<a href="#" class="btn btn-primary">Apply Now</a>
					</div>
				</div><!-- item-info -->
			</div><!-- ad-item -->	

			<div class="job-ad-item">
				<div class="item-info">
					<div class="item-image-box">
						<div class="item-image">
							<a href="job-details.html"><img src="assets/job/4.png" alt="Image" class="img-responsive"></a>
						</div><!-- item-image -->
					</div>

					<div class="ad-info">
						<span><a href="job-details.html" class="title">Human Resource Manager</a> @ <a href="#">Dropbox Inc</a></span>
						<div class="ad-meta">
							<ul>
								<li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
								<li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
								<li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
								<li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
							</ul>
						</div><!-- ad-meta -->									
					</div><!-- ad-info -->
					<div class="button">
						<a href="#" class="btn btn-primary">Apply Now</a>
					</div>
				</div><!-- item-info -->
			</div><!-- ad-item -->
		</div><!-- tab-pane -->
	</div><!-- tab-content -->
</div><!-- trending ads -->		